<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<!--nav bar here-->
<br><br>

   <div class="container">
       <a href="/login">Back to Login</a> <br>
       <h4>Create Account</h4>

        <section class="row">
                <div class="col-md-6">
                  <!-- below all inputs will be posted to /register route  ,  user must click the button  -->
                    {{password}}
                    {{phone}}
                    {{success}}
                    {{error}}
                    <form action="/register" method="post">
                        <input type="text" name="customer_fname"
                                 placeholder="Your First Name" class="form-control" required> <br>

                        <input type="text" name="customer_lname"
                                 placeholder="Your Last Name" class="form-control" required> <br>

                        <input type="text" name="customer_surname"
                                 placeholder="Your Surname" class="form-control" required> <br>

                        <input type="email" name="customer_email"
                                 placeholder="Your First Name" class="form-control" required> <br>

                          <input type="tel" name="customer_phone"
                                 placeholder="Your Phone" class="form-control" required> <br>

                        <input type="password" name="customer_password"
                                 placeholder="Your Password" class="form-control" required> <br>

                        <input type="password" name="customer_password2"
                                 placeholder="Confirm Password" class="form-control" required> <br>

                        <label for="">Gender</label> <br>
                        <input type="radio" name="customer_gender" checked> Male
                        <input type="radio" name="customer_gender"> Female <br>

                        <label for="">Your Address</label> <br>
                        <textarea name="customer_address" id="" cols="40" rows="2" required></textarea> <br>

                        <label for="">Your DOB</label><br>
                        <input type="date" name="dob" required> <br><br>

                        <input type="submit" value="Register" class="btn btn-success">
                    </form>

                  </div>
                 <div class="col-md-6">

                 </div>

        </section>

   </div>
<!--footer here-->
<br>
<!--footer here-->
<footer class="row" style="background:orange;color:white;text-align:center; padding:1%;">
    <div class="col-md-12">
        <b>Copyright &copy; 2021 - All rights reserved. </b>
        <i>Customer Care: 254 788 555 555</i>
    </div>
</footer>
</body>
</html>